os:
  - linux
  - osx

dist: focal
osx_image: xcode12

# install:
#   - rmdir --ignore-fail-on-non-empty "$HOME/packages"
#   - if ! test -d "$HOME/packages"; then mkdir --parents "$HOME/packages"; cd "$HOME/packages"; apt download -y cl-sql cl-sql-mysql cl-sql-odbc cl-sql-postgresql cl-sql-uffi cl-uffi default-libmysqlclient-dev fonts-glyphicons-halflings freetds-common libgraph-perl libjs-angularjs libjs-bootstrap libpath-tiny-perl libsqliteodbc libtommath1 moarvm nqp odbc-postgresql perl6-tap-harness perl6-zef rakudo tdsodbc unixodbc; fi
#   - cd "$HOME/packages" && sudo dpkg --install *.deb
# cache:
#   directories:
#     - $HOME/packages

addons:
  apt:
    packages:
      - perl6-tap-harness
      - perl6-zef
      - rakudo
      - unixodbc
      - cl-sql-odbc
      - libsqliteodbc
      - odbc-postgresql
      - tdsodbc
  homebrew:
    packages:
      - openssl
      - rakudo-star
      - unixodbc
      - mariadb-connector-odbc
      - sqliteodbc
      - psqlodbc
install:
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo '[SQLite]'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Description=SQLite ODBC Driver'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Driver=/usr/local/Cellar/sqliteodbc/0.9998/lib/libsqlite3odbc-0.9998.dylib'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Setup=/usr/local/Cellar/sqliteodbc/0.9998/lib/libsqlite3odbc-0.9998.dylib'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Threading=2'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo ''>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo '[MariaDB ODBC 3.0 Driver]'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Description = MariaDB Connector/ODBC v.3.0'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Driver = /usr/local/Cellar/mariadb-connector-odbc/3.1.9/lib/mariadb/libmaodbc.dylib'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo ''>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo '[PostgreSQL ANSI]'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Description	= PostgreSQL ODBC driver (ANSI version)'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Driver		= /usr/local/Cellar/psqlodbc/12.02.0000/lib/psqlodbca.so'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Debug		= 0'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'CommLog		= 1'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo ''>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo '[PostgreSQL Unicode]'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Description	= PostgreSQL ODBC driver (Unicode version)'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Driver		= /usr/local/Cellar/psqlodbc/12.02.0000/lib/psqlodbcw.so'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'Debug		= 0'>>/tmp/build-odbcinst.ini; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then echo 'CommLog		= 1'>>/tmp/build-odbcinst.ini; fi

    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then if ! test -s /usr/local/etc/odbcinst.ini; then cp /tmp/build-odbcinst.ini /usr/local/etc/odbcinst.ini; fi; fi
script:
  - prove6 -v
